{%extends 'base.html'%}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for blog in blogs %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Заголовок {{blog.name }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title"> {{ blog.content }} </h2>
                <a role="button" class="btn btn-lg btn-block btn-outline-primary" href="{% url 'catalog:product' product.pk %}">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
