{%extends 'base.html'%}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for blog in blogs %}
    <div class="col-12">
        <div class="card mb-4 box-shadow">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Заголовок: {{blog.name }}</h4>
            </div>
            <div class="card-body">
                <h2 class="card-title pricing-card-title"> {{ blog.content }} </h2>

            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
